* { margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
*:after, *:before {
    box-sizing: border-box;
}
#intro {
    position: relative;
    text-align: center;
    padding-bottom: 54px;
    background: #fff;
}
#intro.type .wrap{ max-width: 1200px; }
#intro .wrap { margin: 0 auto; position: relative; }
.logo { padding: 65px 0; display: block; }

#intro:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 27.2%;
    background: #e0f2f3;
}

#intro .wrap .indexWrap {
    display: table;
    width: 80%;
    margin: 0 auto;
    height: 98px;
    margin-bottom: 50px;
    max-width: 100%;
}

.indexWrap {
   position: relative;
}

.indexWrap .leftB {
    background: #005DAF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50%;
    height: 95px%;
    display: table-cell;
}
.indexWrap .rightB {
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 50%;
    height: 100%;
    display: table-cell;
}
ul { list-style: none; }

#intro .wrap .introList {
    display: table;
    margin: 0 auto;
}

#intro .wrap .introList:after {
    content: "";
    display: block;
    clear: both;
}

#intro .wrap .introList .item {
    height: 390px;
    max-height: 390px;
    width: 300px;
    padding: 0 10px 10px;
    float: left;
    position: relative;
}
a {
    text-decoration: none;
    color: inherit;
}
#intro .wrap .introList .item > a {
    display: block;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}
#intro .wrap .introList .img {
    position: relative;
    height: 55%;
    overflow: hidden;
}
#intro .wrap .introList .txt {
    width: 100%;
    height: 50%;
    background: #fff;
    padding: 20px 15px;
    border-top: 1px solid #ddd;
    line-height: 1.2;
}
#intro .wrap .introList .img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: 110%;
}
.copyWrap {
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
    margin-top: 1.5em;
}
.copy {
    color: #666;
    border-top: 1px solid #aaa;
    font-size: 0.9em;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

.rightB > div > div{
   width: 400px;
   height: 95px;
   display: flex;
}

.rightB > div > div > div{
   height: inherit;
   text-align: center;
   margin-top: 3px;
   margin-left: 50px;
   color: gray;
}

.rightB > div > div > div > div{
   text-align: left;
   margin-top: 7px;
}

.rightB {
   height: 95px; 
   overflow: hidden;
   position: absolute;
}

.slide {height: calc(100% * 16); animation:slide 45s infinite;}
.slide > div{height: calc(100% / 16);}
@keyframes slide {
   0% {margin-top:0;}
     3%{margin-top: 0;}
     6%{margin-top:-95px;}
     9%{margin-top:-95px;}
     12%{margin-top:-190px;}
     15%{margin-top:-190px;}
     18%{margin-top:-285px;}
     21%{margin-top:-285px;}
     24%{margin-top:-380px;}
     27%{margin-top:-380px;}
     30%{margin-top:-475px;}
     33%{margin-top:-475px;}
     36%{margin-top:-570px;}
     40%{margin-top:-570px;}
     43%{margin-top:-665px;}
     46%{margin-top:-665px;}
     49%{margin-top:-760px;}
     53%{margin-top:-760px;}
     56%{margin-top:-855px;}
     59%{margin-top:-855px;}
     62%{margin-top:-950px;}
     66%{margin-top:-950px;}
     69%{margin-top:-1045px;}
     72%{margin-top:-1045px;}
     75%{margin-top:-1140px;}
     79%{margin-top:-1140px;}
     82%{margin-top:-1235px;}
     85%{margin-top:-1235px;}
     88%{margin-top:-1330px;}
     92%{margin-top:-1330px;}
     95%{margin-top:-1425px;}
     98%{margin-top:-1425px;}
     100% {margin-top:0;}
}

.covid {
   width: 80%;
   height: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
}

.covid_in_1 {
   width: 100%;
   font-size: 20pt;
   color: #ffb900;
   font-weight: bold;
   margin-top: 17px;
}

.covid_in_2 {
   width: 100%;
   font-size: 15pt;
   color: #fff713;
   font-weight: bold;
}


